/*
    BACKGROUND COLORS

    blue  : #bff
    yellow : #ff9

*/

/*** Default Mobile Styles ****************************/
*{
  box-sizing: border-box;
}

body{
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.4;
    margin: 0;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

h5 {
  text-align: center;
  color: #a33;
}

img {
  width: 100%;
  display: block;
}

/* ---------------Your styles below ---------------*/

.content-container{
  max-width: 800px;
  margin: auto;
}
